#include <windows.h>

101 MENU
LANGUAGE LANG_RUSSIAN, 0x1
{
MENUITEM "&Options",  40015
}

101 DIALOGEX 0, 0, 188, 96
STYLE WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE
CAPTION ""
MENU 101
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
}

107 DIALOG 0, 0, 120, 154
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Server options"
LANGUAGE LANG_RUSSIAN, 0x1
FONT 8, "MS Sans Serif"
{
   CONTROL "&Kick player", 1012, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 35, 100, 15 
   CONTROL "-", 1013, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 10, 15, 15 
   CONTROL "+", 1014, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 10, 15, 15 
   CONTROL "Game speed", -1, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 30, 10, 60, 15 
   CONTROL "Now!", 1015, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 65, 45, 15 
   CONTROL "", 1017, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 85, 20, 15 
   CONTROL "In", 1019, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 85, 45, 15 
   CONTROL "Shutdown", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 55, 110, 70 
   CONTROL "minutes", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 85, 85, 30, 15 
   CONTROL "Cancel", 1022, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 10, 105, 45, 15 
   CONTROL "Reconnect to Hat", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 130, 100, 15 
   CONTROL "T-Minus", 1024, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 105, 50, 15 
}

109 ICON "Icon_1.ico"

